html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: burlywood;
    font-family: monospace;
}

.counters {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -4rem;
    flex-shrink: 0;
}

.counter {
	font-size: 4rem;  
    margin: 0;
    line-height: 1;
    min-width: 6rem;
    height: 6rem;
    background-color: rgba(255,255,255, .65);
    padding: 1rem 0; 
    border-radius: 50%;
}

.counter small {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: right;
	color: #906732;
	margin-right: 1rem;
}

.counters-round {
	margin-top: 1rem; 
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -210px;
}

.counters-round .counter {
	color: #fff
}

.counters-round .victory {
	background-color: #4caf50;
}

.counters-round .defeat {
	background-color: #f44336;
}

.counters-total {
    justify-content: center;
    text-align: right;
    background-color: rgba(255,255,255, .85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.counters-total .container {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
    width: 100%;
	max-width: 800px;
	padding: 0.5rem;
}

.counters-total .counter {
	font-size: 3rem;
	height: auto;
	border-radius: 0;
	background-color: transparent;	
	padding: 0;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.victory {
	color: #4caf50;
}

.defeat {
	color: #f44336;
}

.round, .ratio {
	color: #000;
}

.streak {
	color: goldenrod;
}